* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: url('../arquivos/fundoLogin.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  height: 100vh;
}
.overlay {
  flex: 0 0 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  backdrop-filter: blur(2px);
}
.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #2e7d32;
  margin-bottom: 40px;
}

.logo span {
  margin-left: 8px;
}

p {
  font-size: 37.5px;
  margin-top: 50px;
  margin-bottom: 15px;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  width: 120%;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: solid 1px rgba(171, 180, 105, 0.363);
  background-color: rgba(171, 180, 105, 0.363);
  border-radius: 10px;
  font-size: 14px;
  height: 60px;
  color: #ffffff;
}

input::placeholder {
  padding-left: 8px;
  color: #ffffff;
  opacity: 1; /* garante que apareça bem */
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
}

.forgot-password {
  font-size: 13px;
  color: #ffffff;
  text-decoration: underline;
  margin-bottom: 20px;
  align-self: flex-end;
}

.login-button {
  background-color: #484f2e;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background-color: #3c4226;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo img {
  flex-direction: column;
  height: 35px;
  object-fit: cover; /* garante que a imagem preencha sem deformar */
  border-radius: 50%; /* deixa redondo */
}

.logo span {
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
}
